.main-collection .card-1, .main-collection .card-2, .main-collection .card-3, .main-collection .card-4, .main-collection .card-5, .main-collection .card-6, .main-collection .card-7, .main-collection .card-8, .main-collection .card-9, .main-collection .card-10, .main-collection .card-11, .main-collection .card-12, .main-collection .card-13, .main-collection .card-14, .main-collection .card-15, .main-collection .card-16 {
  margin: 1rem;
  padding: 1rem;
  background-color: black; }

.main-collection .card-1 .card-body .card-title, .main-collection .card-2 .card-body .card-title, .main-collection .card-3 .card-body .card-title, .main-collection .card-4 .card-body .card-title, .main-collection .card-5 .card-body .card-title, .main-collection .card-6 .card-body .card-title, .main-collection .card-7 .card-body .card-title, .main-collection .card-8 .card-body .card-title, .main-collection .card-9 .card-body .card-title, .main-collection .card-10 .card-body .card-title, .main-collection .card-11 .card-body .card-title, .main-collection .card-12 .card-body .card-title, .main-collection .card-13 .card-body .card-title, .main-collection .card-14 .card-body .card-title, .main-collection .card-15 .card-body .card-title, .main-collection .card-16 .card-body .card-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  color: whitesmoke; }

header, .header-contacto, .header-collection, .header-qs {
  margin-top: 5rem;
  padding: 1rem; }

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos del body*/
.estilos-body {
  background-color: #1f1f1b; }

/*estilos header*/
header .titulo-home {
  color: #eed0e9;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: 400; }

.header-contacto h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-decoration: underline;
  color: #eed0e9;
  margin: 1rem;
  text-align: center; }

.header-collection h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-decoration: underline;
  color: #eed0e9;
  margin: 1rem;
  text-align: center; }

.header-qs h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-decoration: underline;
  color: #eed0e9;
  margin: 1rem;
  text-align: center; }

/* estilos navbar*/
.navbar {
  position: absolute;
  top: 1%;
  font-family: "Roboto", sans-serif;
  font-weight: b; }

/*estilos section*/
.section-index {
  margin: 1rem;
  padding: 0.5rem;
  position: relative;
  left: 93%; }
  .section-index div .logo-facebook {
    width: 5%; }
  .section-index div .logo-facebook:hover {
    transform: scale(1.1); }
  .section-index div .logo-instagram {
    width: 5%; }
  .section-index div .logo-instagram:hover {
    transform: scale(1.1); }
  .section-index div .logo-whatsapp {
    width: 5%; }
  .section-index div .logo-whatsapp:hover {
    transform: scale(1.1); }

.section-2 {
  margin: 1rem;
  padding: 1rem; }
  .section-2 h2 {
    color: #1e1c1c;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    margin-top: 1rem; }
  .section-2 .locales-todos .local-3 {
    width: 23%; }
  .section-2 .locales-todos .local-4 {
    width: 23%; }
  .section-2 .locales-todos .local-5 {
    width: 23%; }
  .section-2 .locales-todos .local-6 {
    width: 23%; }
  .section-2 .locales-todos {
    animation-name: trasladar;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

@keyframes trasladar {
  from {
    transform: translate(2000px); } }

.caja-1 {
  background-color: rgba(38, 43, 55, 0.751);
  border: solid 0.1rem #373535;
  padding: 1rem;
  margin-top: 2rem; }
  .caja-1 h3 {
    padding: 1rem;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: bold; }
  .caja-1 div .icono-sobre {
    width: 3%; }
  .caja-1 div .icono-telefono {
    width: 3%; }
  .caja-1 div p {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    padding: 1rem; }

.caja-2 {
  background-color: rgba(38, 43, 55, 0.751);
  padding: 1rem;
  border: solid 0.1rem #373535;
  margin-top: 2rem; }
  .caja-2 h3 {
    padding: 1rem;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: bold; }
  .caja-2 div .icono-maps {
    width: 3%; }
  .caja-2 div p {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    padding: 1rem; }

.caja-3 {
  background-color: rgba(38, 43, 55, 0.751);
  border: solid 0.1rem #373535;
  padding: 1rem;
  margin-top: 2rem; }
  .caja-3 h3 {
    padding: 1rem;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: bold; }
  .caja-3 .logo-facebook {
    width: 5%; }
  .caja-3 .logo-facebook:hover {
    transform: scale(1.1); }
  .caja-3 .logo-instagram {
    width: 5%; }
  .caja-3 .logo-instagram:hover {
    transform: scale(1.1); }

/*estilos main*/
.estilos-main {
  margin: 1rem;
  padding: 1rem; }
  .estilos-main div .imagen-principal {
    width: 100%;
    margin-bottom: 1rem; }

.main-contacto {
  margin: 1rem;
  padding: 1rem; }
  .main-contacto h2 {
    color: #1e1c1c;
    font-family: "Roboto", sans-serif;
    font-weight: bold; }
  .main-contacto p {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    padding: 1rem; }

.main-collection {
  margin: 1rem;
  padding: 1rem; }

.main-qs {
  padding: 1rem; }
  .main-qs .parrafo-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    padding: 1rem; }
  .main-qs .parrafo-2 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    padding: 1rem; }
  .main-qs .imagen-personas {
    width: 100%; }

/*estilos aside*/
.aside-1 {
  margin: 1rem;
  border: solid 0.4rem #191927;
  text-decoration: underline; }
  .aside-1 .estilos-formularios {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 1rem; }

.aside-contacto {
  margin: 1rem;
  padding: 1rem;
  border: solid 0.4rem #191927;
  text-decoration: underline; }
  .aside-contacto .estilos-formularios {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 1rem; }

/*estilos footer*/
.derechos-reservados {
  margin-top: 5rem;
  text-align: end; }
  .derechos-reservados h2 {
    text-align: end;
    font-family: "Roboto", sans-serif;
    font-size: small;
    color: #bcb28c; }

/*estructurando*/
.caja-index {
  display: grid;
  height: 100vh;
  grid-template-columns: 25% 25% 50%;
  grid-template-areas: "navbar navbar section-index" "header header header" "main main main" "aside section-2 section-2" "footer footer footer"; }

.header {
  grid-area: header; }

.navbar {
  grid-area: navbar; }

.section-index {
  grid-area: section-index; }

.estilos-main {
  grid-area: main; }

.aside-1 {
  grid-area: aside; }

.section-2 {
  grid-area: section-2; }

.derechos-reservados {
  grid-area: footer; }

.section-index div {
  display: flex;
  flex-direction: column; }

.caja-contacto {
  display: grid;
  grid-template-areas: "navbar navbar navbar" "header header header" "main main main" "aside aside aside" "caja-1 caja-2 caja-3" "footer footer footer"; }

.header-contacto {
  grid-area: header; }

.navbar {
  grid-area: navbar; }

.main-contacto {
  grid-area: main; }

.aside-contacto {
  grid-area: aside; }

.caja-1 {
  grid-area: caja-1; }

.caja-2 {
  grid-area: caja-2; }

.caja-3 {
  grid-area: caja-3; }

.derechos-reservados {
  grid-area: footer; }

.caja-collection {
  display: grid;
  height: 100vh;
  grid-template-areas: "navbar navbar navbar" "header header header" "main main main" "caja-1 caja-2 caja-3" "footer footer footer"; }

.navbar {
  grid-area: navbar; }

.header-collection {
  grid-area: header; }

.main-collection {
  grid-area: main; }

.caja-1 {
  grid-area: caja-1; }

.caja-2 {
  grid-area: caja-2; }

.caja-3 {
  grid-area: caja-3; }

.derechos-reservados {
  grid-area: footer; }

.main-collection {
  display: grid;
  grid-template-areas: "card-1 card-2 card-3" "card-4 card-5 card-6" "card-7 card-8 card-9" "card-10 card-11 card-12" "card-13 card-14 card-15" "card-16 card-16 card-16"; }

.card-1 {
  grid-area: card-1; }

.card-2 {
  grid-area: card-2; }

.card-3 {
  grid-area: card-3; }

.card-4 {
  grid-area: card-4; }

.card-5 {
  grid-area: card-5; }

.card-6 {
  grid-area: card-6; }

.card-7 {
  grid-area: card-7; }

.card-8 {
  grid-area: card-8; }

.card-9 {
  grid-area: card-9; }

.card-10 {
  grid-area: card-10; }

.card-11 {
  grid-area: card-11; }

.card-12 {
  grid-area: card-12; }

.card-13 {
  grid-area: card-13; }

.card-14 {
  grid-area: card-14; }

.card-15 {
  grid-area: card-15; }

.card-16 {
  grid-area: card-16; }

.caja-qs {
  height: 100vh;
  display: grid;
  grid-template-areas: "navbar navbar navbar" "header header header" "main main main" "caja-1 caja-2 caja-3" "footer footer footer"; }

.navbar {
  grid-area: navbar; }

.header-qs {
  grid-area: header; }

.main-qs {
  grid-area: main; }

.caja-1 {
  grid-area: caja-1; }

.caja-2 {
  grid-area: caja-2; }

.caja-3 {
  grid-area: caja-3; }

.derechos-reservados {
  grid-area: footer; }

.main-qs {
  display: grid;
  grid-template-areas: "parrafo-1 parrafo-2" "imagen-persona imagen-persona"; }

.parrafo-1 {
  grid-area: parrafo-1; }

.parrafo-2 {
  grid-area: parrafo-2; }

.imagen-personas {
  grid-area: imagen-persona; }
