//variables
$color-fondo:#e7e7d9;
$color-primario:#052b1d;
$color-secundario:#88653f;
$color-terciario:#bcb28c;
$color-cajas:whitesmoke;

$medidas-logos: 5%;
$medidas-galeria: 25%;
$medidas-locales: 23%;
$medidas-iconos: 3%;
$pading-1: 1rem;
$margin-1: 1rem;


$font-family: 'Roboto', sans-serif;