//variables
$color-fondo:#1f1f1b;
$color-primario:#eed0e9;
$color-secundario:#ecc59b;
$color-terciario:#bcb28c;
$color-cajas:whitesmoke;

$medidas-logos: 5%;
$medidas-galeria: 25%;
$medidas-locales: 23%;
$medidas-iconos: 3%;
$pading-1: 1rem;
$margin-1: 1rem;


$font-family: 'Roboto', sans-serif;